{
  "plugins": ["transform-object-rest-spread"],
  // transform-object-rest-spread because babel-preset-env won't transpile this for us, but not supported by node 4.3
  "env": {
    "production": {
      "plugins": ["transform-es2015-template-literals"],
      // transform-es2015-template-literals because uglify-harmony branch does not support these yet
      // https://github.com/mishoo/UglifyJS2/issues/448
      "presets": [
        [ "env", {
          "targets": {
            "node": 4.3
          },
          "debug": false,
          "modules": "commonjs" // needed for compatibility with alexa-app-server so we can't use webpack for this
        }]
      ]
    },
    "development": {
      "presets": [
        [ "env", {
          "targets": {
            "node": 4.3
          },
          "debug": true,
          "modules": "commonjs"
        }]
      ]
    },
    "test": {
      "presets": [
        [ "env", {
          "targets": {
            "node": 4.3
          },
          "modules": "commonjs"
        }]
      ]
    }
  }
}